body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
}

.skewedBox1 {
    background: #edff57;
    padding: 100px 0;
    transform: skew(0deg,-10deg) translateY(-115px);    
}

.container {
    padding: 150px 200px;
    transform: skew(0deg,10deg);
    font-family: Arial, Helvetica, sans-serif;
}

.container h1{
    margin: 0px;
    padding: 20px 0px;
    font-size: 3em;
}

.container p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    width: 70%;
}

.skewedBox2 {
    padding: 0 200px 150px ;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
.skewedBox2 h1{
    margin: 0px;
    padding: 20px 0px;
    font-size: 3em;
}

.skewedBox2 p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    width: 100%;
}